NODE_ENV=development

APP_NAME='caravan'
APP_PORT=3000
APP_BASE_URL='http://localhost'
APP_LOCALE='ru'
APP_GLOBAL_PREFIX='api'
APP_GLOBAL_DEFAULT_API_VERSION='1'

ALLOWED_ORIGIN='http://localhost:3000'

TZ='europe/moscow'

JWT_SECRET=super-secret-jwt-key
JWT_ACCESS_TTL=846000
JWT_REFRESH_SECRET=refresh-token
JWT_REFRESH_TTL=846000
SESSION_SECRET=session-secret
SESSION_TTL=864000
SESSION_ENABLED=true

DB_USERNAME='root'
DB_PASSWORD='root'
DB_HOST='localhost'
DB_TYPE='postgres'
DB_PORT=5432
DB_DATABASE='dbdev'
DB_SYNCHRONIZE=false

REDIS_USER='root'
REDIS_PASSWORD=''
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL=3600
REDIS_MAX_RETRIES=3
REDIS_DATABASE=0
REDIS_URI='redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}'

SWAGGER_ENABLE=true
SWAGGER_PATH=swagger

LOGGER_LEVEL=trace
LOGGER_FORMAT=json
